In [9]:
import pandas as pd

# Series

In [10]:
data = [1,2,3,4,5]

In [11]:
s = pd.Series(data)

In [12]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
index = ['Linha ' + str(i) for i in range(5)]

In [14]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [15]:
s = pd.Series(data, index)

In [16]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

# DataFrame

In [17]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [18]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
df1 = pd.DataFrame(data = data)

In [20]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
index = ['Linha ' + str(i) for i in range (3)]

In [23]:
index

['Linha 0', 'Linha 1', 'Linha 2']

In [24]:
df1 = pd.DataFrame(data = data, index = index)

In [25]:
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [26]:
columns = ['Coluna ' + str(i) for i in range (3)]

In [27]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [28]:
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9