# Relatório de Análise IV

## Seleções e Frequências

In [4]:
import pandas as pd

In [9]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [10]:
dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22575,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [17]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [20]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] ==  'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [21]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100) 
n3 = dados[selecao].shape[0]
n3

8719

In [24]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000) 
n4 = dados[selecao].shape[0]
n4

41

In [26]:
print(f'imóveis classificados com tipo Apartamento = {n1}.\n'
      f'imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila = {n2}.\n'
      f'imóveis com área entre 60 e 100 metros quadrados, incluindo limites = {n3}.\n'
      f'imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = {n4}.')

imóveis classificados com tipo Apartamento = 19532.
imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila = 2212.
imóveis com área entre 60 e 100 metros quadrados, incluindo limites = 8719.
imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = 41.